/* Write your code here. */
.li-item {
  width: 80px;
  height: 80px;
}

.btn {
  width: 60px;
  height: 60px;
  border-style: none;
  background-color: transparent;
}

.small-image {
  width: 60px;
  height: 60px;
}

.highlight {
  opacity: 0.5;
}
